<div class="span-17 colborder">
    <%= render @blog %>
   <div class="span-17 last"> 
      <% if user_signed_in? and @blog.user.id == current_user.id %>
        <%= link_to 'Edit', edit_blog_path(@blog) %> |
      <% end %>

      <%= link_to 'Back', blogs_path %>
   </div>
   
</div>
<%= render 'nav_blogs' %>
