#blog_list .list_line_even {
  background:   #e0f8f8;
}

#blog_list .list_line_odd {
  background:   #f8b0f8;
}

#user_list .list_line_even {
  background:   #e0f8f8;
}

#user_list .list_line_odd {
  background:   #f8b0f8;
}
#columns {
  background: #F7F7F7;
}
#banner {
  
  background: #DCDCDC;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 10px/10px "Times New Roman", serif;
  color: #282;
  text-align: left;
}

#main {
  margin-left: 17em;
  margin-right: 17em;
  padding-top: 4ex;
  padding-left: 2em;
  padding-right: 2em;
  background: #DCDCDC;
}
#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 16em;
  background: #F7F7F7;
}
#side2 {
  float: right;
  padding-right: 1em;
  width: 16em;
  background: #F7F7F7;
}
div.content {
  background: #F3F4EE;
}
